.oblik {
  margin-top: 75px;
}

.subscribe-container {
  max-width: 800px;
  margin: 60px auto;
  background-color: rgba(130, 184, 219, 0.5);
  border: 5px solid rgb(98, 143, 228);
}
.subscribe-container form {
  display: flex;
  flex-wrap: wrap;
}
.subscribe-container form input {
  margin: 15px;
  border: 1px solid rgb(98, 143, 228);
  padding: 0.4rem;
}
.subscribe-container form input {
  flex: 1 1 200px;
}

.subscribe-container form input[type="submit"] {
  border-radius: 3px;
  background-color: rgba(17, 228, 10, 0.5);
  color: rgb(98, 143, 228);
}

.subscribe-container form input[type="email"] {
  flex: 1 1 250px;
}

main {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}

table {
  margin: 50px auto;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid #000;
}

th,
td {
  padding: 5px;
}

.footer {
  text-align: center;
  color: gray;
  position: absolute;
  bottom: 20px;
  right: 44%;
}
